<!DOCTYPE html>
<html lang=ja>
  <head>
    <title>maps app</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/styles.css">
    <style>
    .send {
      width: 280px;
      height: 30px;
      margin-bottom: 15px;
      border: solid 1px #88a;
      border-radius: 20px;
      background: #fff;
      color: #354aff;
      cursor: pointer;
    }

    .send:hover {
      opacity: 0.7;
    }
    </style>
  </head>
  <body>
    <div id="header">
      <h3>◆ Maps App ◆</h3>
      <span>情報の投稿、確認はマーカーをクリックして開いたウインドウから選択出来ます</span>
    </div>

    <div id="map"></div>
    <div id="usage">
      <h3>● 使い方 </h3>
      <P class="text">Marker<img src="https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2_hdpi.png" alt="Google Maps Marker Image" width=15>
        をクリック（タップ）して開いたウィンドウから「情報を入力する」か「投稿された情報を見る」を選んでください</P>
      <p class="usage">・情報を入力する</p>
      <p class="text">各項目の在庫状況について、わかる範囲で選択してください。何も選択しなければ「分からない」になります。<br>特定の銘柄について等、その他の情報があれば「より詳細な情報やその他製品の情報」欄に200文字以内で入力してください。</p>
      <p class="usage">・投稿された情報を見る</p>
      <p class="text">投稿日時の新しい順に投稿された内容が並んでいます。スクロールして過去の情報を見ることもできます。</p>
      <p class="usage">・投稿内容を削除するには？</p>
      <p>以下より選択し、開いたページで投稿番号とパスワード入力してください</p>
      <form action="/post_delete" method="GET">
        <input type="submit" value="品物情報を削除する" class="send">
      </form>
      <br>
      <form action="/opinion_delete" method="GET">
        <input type="submit" value="ご意見、ご感想を削除する" class="send">
        <p>※ 削除には投稿後の画面で表示される投稿番号とパスワードが必要になります。<br>
          後に投稿を削除する可能性がある場合、それらの情報を忘れないようにしてください</p>
      </form>
      ご意見、ご感想はコチラ
      <form action="/opinions_and_impression" method="POST">
        <input type="hidden" name="time" value="" id=time>
        <input type="submit" value="ご意見、ご感想を投稿する" class="send">
        <p>※ 削除には投稿後の画面で表示される投稿番号とパスワードが必要になります。<br>
          後に投稿を削除する可能性がある場合、それらの情報を忘れないようにしてください</p>
      </form>
    </div>
    <script>
    {
      'use strict';

    let map;
    let time = Date.now()

      const setTime = document.getElementById('time')
      setTime.value = time;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.2427162, lng: 136.9533993},
          styles: [
            {
              "featureType": "poi.school",
              "stylers": [
                { "visibility": "off" }
              ]
            },
            {
              "featureType": "poi",
              "stylers": [
                { "saturation": -100 }
              ]
            },
          ],
          zoom: 14
        });
        fetch('./static/data.json', {cache: "no-store"})
        .then(function(response){return response.json();})
        .then(putMarker);
      }

      function putMarker(data) {
        for (let code in data) {
          const infoContent =
          `<span><strong>${data[code].shopname}</strong></span><br/>
          <span>${data[code].opentime}</span><br/>
          <hr/>
          <span>最終更新: ${data[code].lastupdate}</span><br/>
          <span>住所: ${data[code].address}</span><br/>
          <span>Tel: ${data[code].tel}</span>
          <hr>
          <form action="/form" method="POST" accept-charset="UTF-8">
            <input type="hidden" name="shopcode" value="${code}">
            <input type="hidden" name="shopname" value="${data[code].shopname}">
            <input type="hidden" name="time" value="${time}" id="time">
            <input  class="btn" type="submit" value="情報を入力する">
          </form>
          <form action="/view" method="POST" accept-charset="UTF-8">
            <input type="hidden" name="shopcode" value="${code}"/>
            <input type="hidden" name="shopname" value="${data[code].shopname}">
            <input class="btn" type="submit" value="投稿された情報を見る">
          </form>`;

          const infowindow =new google.maps.InfoWindow({
            content: infoContent,
            maxWidth: 250
          });

          const marker = new google.maps.Marker({
            position: data[code].latlng,
            map: map,
            title: data[code].shopname.replace("&amp;", "&"),
          });

          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        }
      }
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ Your API Key}}&callback=initMap"
    async defer></script>
  </body>
</html>
