<!DOCTYPE html>
<html lang=ja>
  <head>
    <title>春日井市西部 対策商品販売状況</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
    #map {
      height: 86%;
    }

    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .btn {
      background: #ddd;
      color: #333;
      /* font-weight: bold; */
      width:75%;
      padding: 3%;
      /* display: inline-block; */
      margin:0.5em;
    }
    </style>
  </head>
  <body>
    <div id="header">
      <div>Mask Map -- 春日井市西部 -- </div>
      <span id="disclimer">※免責事項: 記載内容について製作者は一切の責任を負いません</span><br/>
    </div>

    <div id="map"></div>
    <script>
    {
      'use strict';

    let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 35.2427162, lng: 136.9533993},
          styles: [
            {
              "featureType": "poi.school",
              "stylers": [
                { "visibility": "off" }
              ]
            },
            {
              "featureType": "poi",
              "stylers": [
                { "saturation": -100 }
              ]
            },
          ],
          zoom: 14
        });
        fetch('./static/data.json')
        .then(function(response){return response.json();})
        .then(putMarker);
      }

      function putMarker(data) {
        for (let code in data) {
          const infoContent =
          `<span><strong>${data[code].shopname}</strong></span><br/>
          <span>${data[code].opentime}</span><br/>
          <hr/>
          <span>更新日時: ${data[code].lastupdate}</span><br/>
          <span>住所: ${data[code].address}</span><br/>
          <span>Tel: ${data[code].tel}</span>
          <hr>
          <form action="/form" method="POST" accept-charset="UTF-8">
            <input type="hidden" name="shopcode" value="${code}">
            <input type="hidden" name="shopname" value="${data[code].shopname}">
            <input  class="btn" type="submit" value="情報を入力する">
          </form>
          <form action="/view" method="POST" accept-charset="UTF-8">
            <input type="hidden" name="shopcode" value="${code}"/>
            <input type="hidden" name="shopname" value="${data[code].shopname}">
            <input class="btn" type="submit" value="投稿された情報を見る">
          </form>`;

          const infowindow =new google.maps.InfoWindow({
            content: infoContent,
            maxWidth: 250
          });

          const marker = new google.maps.Marker({
            position: data[code].latlng,
            map: map,
            title: data[code].name,
          });

          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        }
      }

    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO4g7_mj12wfAZ5qqjoUpWkHV85IMwJAA&callback=initMap"
    async defer></script>
  </body>
</html>
